.post{
border:1px solid black;
margin-bottom:20px;
}
.title{
text-align:center;
}
.text{
padding-bottom:10px;
}


.welcom2{

border:1px solid #ccc;max-width:450px;height:250px;position:absolute;
left:50%;top:50%;display:inline;margin-left:-225px;margin-top:-125px;font-size:25px;
}
.welcom2 div{
padding:5px 20px;
}